<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.luxury_brands">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Luxury_Brands">
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".ProductDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".AllProductActivity"
            android:exported="true" />
        <activity
            android:name=".AddProductActivity"
            android:exported="true" />
        <activity
            android:name=".AccessActivity"
            android:exported="true" />
        <activity
            android:name=".WomenActivity"
            android:exported="true" />
        <activity
            android:name=".MenActivity"
            android:exported="true" />
        <activity
            android:name=".ShoesActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainPageActivity"
            android:exported="true" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>